body {
    margin-top: 20px;
    font-family: 'Arsenal', sans-serif;
}

.weather-app-wrapper {
    max-width: 600px;
    margin: 0 auto;
    color: #385170;
  
}

.weather-app {
    margin-bottom: 0;
    padding: 20px;
    border: 1px solid #385170;
    border-radius: 20px;
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

h1 {
    color: #081f37;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 0;
    margin-top: 20px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    color: #081f37;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    
}

li:first-letter {
    text-transform: capitalize;
}

.overview {
    margin-bottom: 20px;
}

.weather-temperature img {
    margin-right: 7px;
    height: 64px;
    width: 64px;
}

.weather-temperature strong {
    font-size: 64px;
    font-weight: 400;
    line-height: 1;
}

.weather-temperature .units {
    position: relative;
    font-size: 16px;    
    top: -34px;
}

a {
    text-decoration: none;
}

.weather-temperature .active {
 color: #081f37;
 cursor: default;
}

small {
    opacity: 0.7;
}



.search-bar {
    border-radius: 20px;

}

.search-button {
    border-radius: 20px;
border: none;
    background: white;
    color: #385170;
}

.search-button:hover {
    background: #385170;
    color: white;
}


.weather-forecast {
    margin-top: 20px;
    text-align: center;
}

.forecast-day {
    font-size: 16px;
    opacity: 0.9;

}

.forecast-temp {
    font-size: 13px;
    border: 1px solid gray;
    border-radius: 30px;
}

.forecast-temp-max {
    opacity: 0.8;
}

.forecast-temp-min {
    opacity: 0.5;
}